volumes:
  mysql_data:
  postgres_data:
  redis_data:
  rabbitmq_data:
  elasticsearch_data:
  kibana_data:
  prometheus_data:

services:
  mysql:
    image: mysql:latest
    container_name: mysql
    environment:
      MYSQL_ROOT_USER: root
      MYSQL_ROOT_PASSWORD: rootPass
      MYSQL_DATABASE: sql_db
      MYSQL_USER: sqlUser
      MYSQL_PASSWORD: sqlPass
      MYSQL_INITDB_SKIP_TZINFO: 1
      MYSQL_TABLE_DEFINITION_CACHE: 800
      MYSQL_TABLE_OPEN_CACHE: 800
      MYSQL_PERFORMANCE_SCHEMA_MAX_SQL_TEXT_LENGTH: 4096
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    healthcheck:
      test: [ "CMD", "mysqladmin", "ping", "-h", "localhost" ]
      interval: 10s
      timeout: 5s
      retries: 3
    command: >
      --max_prepared_stmt_count=16382 --wait_timeout=28800 --interactive_timeout=28800

  postgres:
    image: postgres:latest
    container_name: postgres
    environment:
      POSTGRES_USER: pgUser
      POSTGRES_PASSWORD: pgPass1
      POSTGRES_DB: pg_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql 
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U devuser -d devdb" ]
      interval: 10s
      timeout: 5s
      retries: 3

  redis:
    image: redis:alpine
    container_name: dev-redis
    command: redis-server --requirepass redisPass
    environment:
      - REDIS_USER=default
      - REDIS_PASSWORD=redisPass
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    healthcheck:
      test: [ "CMD", "redis-cli", "-a", "redisPass", "ping" ]
      interval: 10s
      timeout: 5s
      retries: 3

  # rabbitmq:
  #   image: rabbitmq:3-management-alpine
  #   container_name: rabbitmq
  #   environment:
  #     - RABBITMQ_DEFAULT_USER=rabbitUser
  #     - RABBITMQ_DEFAULT_PASS=rabbitPass
  #     - RABBITMQ_DEFAULT_VHOST=my_vhost
  #   ports:
  #     - "5672:5672"
  #     - "15672:15672"
  #   volumes:
  #     - rabbitmq_data:/var/lib/rabbitmq
  #   healthcheck:
  #     test: [ "CMD", "rabbitmq-diagnostics", "check_port_connectivity" ]
  #     interval: 30s
  #     timeout: 10s
  #     retries: 3

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.12.0
    container_name: elasticsearch
    environment:
      - discovery.type=single-node
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
      - xpack.security.enabled=false            # Security OFF
      - xpack.security.transport.ssl.enabled=false
    ports:
      - "9200:9200"
    volumes:
      - elasticsearch_data:/usr/share/elasticsearch/data
    healthcheck:
      test: ["CMD-SHELL", "curl -s http://localhost:9200/_cluster/health || exit 1"]
      interval: 30s
      timeout: 10s
      retries: 3

  kibana:
    image: docker.elastic.co/kibana/kibana:8.12.0
    container_name: kibana
    environment:
      - ELASTICSEARCH_HOSTS=http://elasticsearch:9200
      - XPACK_SECURITY_ENABLED=false          # Security OFF
    ports:
      - "5601:5601"
    volumes:
      - kibana_data:/usr/share/kibana/data
    depends_on:
      - elasticsearch

  logstash:
    image: docker.elastic.co/logstash/logstash:8.12.0
    container_name: logstash
    volumes:
      - ./monitoring/logstash/pipeline:/usr/share/logstash/pipeline:ro
    ports:
      - "5044:5044"
    environment:
      LS_JAVA_OPTS: "-Xms256m -Xmx256m"
    depends_on:
      - elasticsearch

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    volumes:
      - ./monitoring/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml:ro
      - prometheus_data:/prometheus
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--storage.tsdb.path=/prometheus'
      - '--web.console.libraries=/usr/share/prometheus/console_libraries'
      - '--web.console.templates=/usr/share/prometheus/consoles'
    ports:
      - "9090:9090"
    depends_on:
      - node-exporter

  node-exporter:
    image: prom/node-exporter:latest
    container_name: node-exporter
    ports:
      - "9100:9100"
    volumes:
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
      - /:/rootfs:ro
    command:
      - '--path.procfs=/host/proc'
      - '--path.sysfs=/host/sys'
      - --collector.filesystem.ignored-mount-points
      - "^/(sys|proc|dev|host|etc)($|/)"
